<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pay</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HvKtzIVu4JSDxq" async> </script> </form>
    <!-- <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JtiFtUrYbAoHiW" async> </script> </form> -->
	<!-- <script src="index.js"></script> -->
  </body>
</html>