<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pay</title>
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body>
    <!-- <%var orderid = OrderId%> -->
  
    <button id="rzp-button1" class="btn btn-success btn-lg">Pay</button>
    <!-- <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HvKtzIVu4JSDxq" async> </script> </form> -->
    <!-- <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JtiFtUrYbAoHiW" async> </script> </form> -->
	<!-- <script src="index.js"></script> -->
    <!-- <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JtiK3epIXAxlgZ" async> </script> </form> -->
    
  </body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var Orderid= "<%= OrderId %>"
    // console.log(Orderid)
    $('body').on('click','#rzp-button1',function(e){
            e.preventDefault();
            var amount = $('.amount').val();
            var id = $('.id').val();
            var total_amount = amount * 100;
            var options = {
                "key": "rzp_live_PnQSHoPi5lwM25", // Enter the Key ID generated from the Dashboard
                "amount": "1", // Amount is in currency subunits. Default currency is INR. Hence, 10 refers to 1000 paise
                "currency": "INR",
                "name": "your sawal",
                "description": "App_Description",
                "image": "App_logo",
                "order_id": Orderid, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    $.ajaxSetup({
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        }
                    });
                    $.ajax({
                        type:'POST',
                        url:"user/verify",
                        data:{razorpay_payment_id:response.razorpay_payment_id,amount:amount},
                        success: function(response) {
       window.location = "user/verify";
       console.log(data)
    }
                    });
                },
                "prefill": {
                    "name": "User name",
                    "email": "user_email",
                    "contact": "user_mobile"
                },
                
                "theme": {
                    "color": "#1217D5"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        });
    </script>

</html>